<div class="panel panel-default m-t">
  <div class="panel-body">
    <div class="text-center">
      <h3>{{vm.pokemon.name}}
        <small>ID:{{vm.pokemon.pkdx_id}}</small>
      </h3>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <img ng-src="{{vm.pokemon.image}}" alt="{{vm.pokemon.name}}" class="thumb">
      </div>
      <div class="col-sm-9">
        <p class="text-left">{{vm.pokemon.descriptions}}</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">

        <h4 class="text-left">Basic Info:</h4>
        <div class="row">
          <div class="col-sm-3 ">
            <p class="text-left">
              <strong>Height:</strong>
              {{vm.pokemon.height}}
            </p>
          </div>
          <div class="col-sm-3">
            <p class="text-left">
              <strong>Weight:</strong>
              {{vm.pokemon.weight}}
            </p>
          </div>
          <div class="col-sm-3">
            <p class="text-left">
              <strong>Species:</strong>
              {{vm.pokemon.species}}
            </p>
          </div>
          <div class="col-sm-3">
            <p class="text-left">
              <strong>Abilities:</strong>
              <span ng-repeat="ability in vm.pokemon.abilities track by $index">
                {{ability.name}}
                <span ng-if="$index !== vm.pokemon.abilities.length - 1">, </span>
              </span>
            </p>
          </div>
        </div>

        <h4 class="text-left">Stats:</h4>
        <div class="row">
          <div class="col-sm-3">
            <div class="text-left set-flex">
              <p>
                <strong>HP: &emsp;</strong>
              </p>
              <p class="set-flex">
                {{vm.pokemon.hp}}
                <span ng-if="vm.pokemon.hpCompare === 1 || vm.pokemon.hpCompare === 0" ng-class="vm.pokemon.hpCompare ? 'arrow-up' : 'arrow-down' "></span>
              </p>

            </div>
          </div>
          <div class="col-sm-3 set-flex">
            <p class="text-left set-flex">
              <strong>Attack: &emsp;</strong>
            </p>
            <p class="set-flex">
              {{vm.pokemon.attack}}
              <span ng-if="vm.pokemon.atkCompare === 1 ||  vm.pokemon.atkCompare === 0" ng-class="vm.pokemon.atkCompare ? 'arrow-up' : 'arrow-down' "></span>
            </p>
          </div>

          <div class="col-sm-3 set-flex">
            <p class="text-left">
              <strong>Defense: &emsp;</strong>
            </p>
            <p class="set-flex">
              {{vm.pokemon.defense}}
              <span ng-if="vm.pokemon.defCompare === 1 ||  vm.pokemon.defCompare === 0" ng-class="vm.pokemon.defCompare ? 'arrow-up' : 'arrow-down' "></span>
            </p>
          </div>
          <div class="col-sm-3">
            <p class="text-left">
              <strong>Catch Rate:</strong>
              {{vm.pokemon.catch_rate}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-left">Type:</h4>
            <ul class="list-inline text-left">
              <li ng-repeat="type in vm.pokemon.types track by $index">
                {{type.name}}
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h4 class="text-left">Weakness:</h4>
            <ul class="list-inline text-left">
              <li ng-repeat="point in vm.pokemon.weakness track by $index">
                <span ng-class="{'red': point.match}">{{point.name}} </span>
              </li>
            </ul>
          </div>
        </div>


        <h4 class="text-left">Moves:</h4>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-inline text-left">
              <li ng-repeat="move in vm.pokemon.moves">
                {{move.name}}
              </li>
            </ul>
          </div>
        </div>

        <h4 class="text-left">Evolutions:</h4>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-inline text-left">
              <li ng-repeat="state in vm.pokemon.evolutionsList track by $index">
                {{state.name}}
                <span ng-if="$index !== vm.pokemon.evolutionsList.length - 1"> > </span>
              </li>
            </ul>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
